<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Amazon product tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% load crispy_forms_tags %}
    {% load colorize %}

    <div class="container mt-3">
        <div class="row">
            <div class="col text-left">
                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#addItemModal">Add</button>
                <!-- Modal -->
                <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">add product to track</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" autocomplete="off">
                                    {% csrf_token %}
                                    {{form|crispy}}
                                    <button type="submit" class="btn btn-primary mt-3">Track</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="{% url 'update_products' %}">
                    <button class="btn btn-info">Update</button>
                </a>
            </div>
            <div class="col text-right">
                <div>Total number of items being tracked: {{number_of_items}}</div>
                <div>Discounted items: {{no_discounted}}</div>
            </div>
        </div>

        {% if queryset %}
            {% for item in queryset %}
                <div class="card mt-2" style="width: 40rem;">
                    <img src="{{item.image}}" alt="{{item.name}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">Current price : ${{item.current_price}}</p>
                        <p class="card-text">Old price : ${{item.old_price}}</p>
                        <p class="card-text">Difference : {{item.price_difference|colorize}}</p>
                        <p class="card-text">rate : {{item.rate}} out of 5 stars</p>
                        <p class="card-text">Number of ratings : {{item.rating}}</p>
                        <div class="row">
                            <a class="btn btn-primary col-5" href="{{item.url}}" target="_blank">check the product out</a>
                            <a class="col-2"></a>
                            <a href="{% url 'delete_product' item.pk %}" target="_blank" class="btn btn-danger col-5">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3>no items being tracked ...!</h3>
        {% endif %}

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
